---
---
<!-- Author -->
{% assign authors = '' %}
{%- for author in entry.author_array -%}
  {% capture authors %}
    {{ authors }}{{ author.first | slice 0, 0 }}{{ ". " }} {{ author.last }}{{ ", " }} 
  {% endcapture %}
{%- endfor -%}

<!-- Journal/Book title -->
{% assign proceedings = 'inproceedings,incollection' | split: ',' %}
{% assign thesis = 'thesis,mastersthesis,phdthesis' | split: ',' %}
{% if entry.type == 'article' %}
  {% capture entrytype %}{{ entry.journal }}{% endcapture %}
{% elsif proceedings contains entry.type %}
  {% capture entrytype %}In {{ entry.booktitle }}{% endcapture %}
{% elsif thesis contains entry.type %}
  {% capture entrytype %}{{"PhD Thesis, "}}{{ entry.school }}{% endcapture %}
{% else %}
  {% capture entrytype %}{% endcapture %}
{% endif %}

<h6 class="bibitem" style="font-size: 0.95rem; text-align: justify;">
  <!-- Author -->
  {% assign author_array_size = entry.author_array | size %}

  {% assign author_array_limit = author_array_size %}
  {% if site.max_author_limit and author_array_size > site.max_author_limit %}
    {% assign author_array_limit = site.max_author_limit %}
  {% endif %}
  
  {%- for author in entry.author_array limit: author_array_limit -%}
    {% assign author_is_self = false %}
    {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
    {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
    {% if site.scholar.last_name contains author_last_name %}
      {% if site.scholar.first_name contains author.first %}
        {% assign author_is_self = true %}
      {% endif %}
    {%- endif -%}
    {% assign coauthor_url = null %}
    {%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
    {% if site.data.coauthors[clean_last_name] %}
      {%- for coauthor in site.data.coauthors[clean_last_name] -%}
        {% if coauthor.firstname contains author.first %}
          {%- assign coauthor_url = coauthor.url -%}
          {% break %}
        {% endif %}
      {% endfor %}
    {%- endif -%}
  
    {%- if forloop.length > 1 -%}
      {% if forloop.first == false %},&nbsp;{% endif %}
      {%- if forloop.last and author_array_limit == author_array_size %}and&nbsp;{% endif -%}
    {% endif %}
    {%- if author_is_self -%}
      <em>
        {{- author.first }}
        {{ author_last_html -}}
      </em>
    {%- else -%}
      {%- if coauthor_url -%}
        <a href="{{ coauthor_url }}">
          {{- author.first }}
          {{ author_last_html -}}
        </a>
      {%- else -%}
        {{- author.first }}
        {{ author_last_html -}}
      {% endif %}
    {%- endif -%}
  {% endfor %}
  {%- assign more_authors = author_array_size | minus: author_array_limit -%}
  
  {%- assign more_authors_hide = more_authors | append: ' more author' -%}
  {% if more_authors > 0 %}
    {%- if more_authors > 1 -%}
      {% assign more_authors_hide = more_authors_hide | append: 's' %}
    {%- endif -%}
    {% assign more_authors_show = '' %}
    {%- for author in entry.author_array offset: author_array_limit -%}
      {% assign more_authors_show = more_authors_show | append: author.first | append: ' ' | append: author.last %}
      {% unless forloop.last %}
        {% assign more_authors_show = more_authors_show | append: ', ' %}
      {% endunless %}
    {%- endfor -%}
    {%- assign more_authors_show = more_authors_show | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
    , and
    <span
      class="more-authors"
      title="click to view {{ more_authors_hide }}"
      onclick="
          var element = $(this);
          element.attr('title', '');
          var more_authors_text = element.text() == '{{ more_authors_hide }}' ? '{{ more_authors_show }}' : '{{ more_authors_hide }}';
          var cursorPosition = 0;
          var textAdder = setInterval(function(){
            element.html(more_authors_text.substring(0, cursorPosition + 1));
            if (++cursorPosition == more_authors_text.length){
              clearInterval(textAdder);
            }
        }, '{{ site.more_authors_animation_delay }}');
      "
    >
      {{- more_authors_hide -}}
    </span>
  {% endif %}
  <span style="font-weight: bold;">{{ entry.title }}</span>
  <span style="font-style: italic;">
    {{- entrytype -}}
    {% if entry.address %}
      {{- ', ' -}}
      {{- entry.address }}
    {% endif %}
  </span>

  <span style="font-style: italic;">
    {{ entry.note | strip }}
  </span>


  {% if entry.doi %}
    <a href="https://doi.org/{{ entry.doi }}" class="refs">[ DOI ]</a>
  {% elsif entry.url %}
    <a href="{{ entry.url }}" class="refs">[ DOI ]</a>
  {% endif %}

    <a class="bibtex refs">[ BIB ]</a>

  {% if entry.pdf %}
    {% if entry.pdf contains '://' %}
      <a href="{{ entry.pdf }}" class="refs">[ PDF ]</a>
    {% else %}
      <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="refs">[ PDF ]</a>
    {% endif %}
  {% endif %}
</h6>

<!-- Hidden bibtex block -->
<div class="col-12 bibtex hidden">
  {% highlight bibtex %}
  {{- entry.bibtex | hideCustomBibtex -}}
  {% endhighlight %}
</div>
