---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.first_name | capitalize }}
      {{ site.last_name | capitalize }}, Ph.D.
      {% if page.cv_pdf %}
        <a
          href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}"
          target="_blank"
          rel="noopener noreferrer"
          class="float-right"
          ><i class="fa-solid fa-file-pdf"></i
        ></a>
      {% endif %}
    </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="cv">
      {% for data in site.data.cv %}
        {% if site.jsonresume and site.jsonresume.size > 0 %}
          {% unless site.jsonresume contains data[0] %}
            {% continue %}
          {% endunless %}
        {% endif %}
        {% if data[0] == 'meta' or data[1].size == 0 %} {% continue %} {% endif %}
        <a class="anchor" id="{{ data[0] }}"></a>
        <div class="card mt-3 p-3">
          <h5 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h5>
          <div>
            {% case data[0] %}
              {% when 'personal information' %}
                {% include resume/basics.liquid %}
              {% when 'education' %}
                {% include resume/education.liquid %}
              {% when 'professional experience' %}
                {% include resume/work.liquid %}
              {% when 'software' %}
                {% include resume/software.liquid %}
              {% when 'volunteer' %}
                {% include resume/volunteer.liquid %}
              {% when 'projects' %}
                {% include resume/projects.liquid %}
              {% when 'awards' %}
                {% include resume/awards.liquid %}
              {% when 'skills' %}
                {% include resume/skills.liquid %}
              {% when 'publications' %}
                {% include resume/publications.liquid %}
              {% when 'languages' %}
                {% include resume/languages.liquid %}
              {% when 'interests' %}
                {% include resume/interests.liquid %}
              {% when 'certificates' %}
                {% include resume/certificates.liquid %}
              {% when 'references' %}
                {% include resume/references.liquid %}
              {% else %}

            {% endcase %}
          </div>
        </div>
      {% endfor %}
      <a class="anchor" id="refereed"></a>
      <div class="card mt-3 p-3">
        <h5 class="card-title font-weight-medium">Refereed Publications</h5>
        <div>
          {% bibliography -T bib_cv -q @*[keywords~=published] %}
        </div>
      </div>
      <a class="anchor" id="wip"></a>
      <div class="card mt-3 p-3">
        <h5 class="card-title font-weight-medium">Technical Reports and Publications In Review</h5>
        <div>
          {% bibliography -T bib_cv -q @*[keywords~=preprint|wip] %}
        </div>
      </div>
      <a class="anchor" id="talks"></a>
      <div class="card mt-3 p-3">
        <h5 class="card-title font-weight-medium">Conference Presentations and Talks</h5>
        <div>
          {% bibliography -f talks -T bib_cv -q @* %}
        </div>
      </div>
    </div>
  </article>
</div>
